/*  Programmweites style sheet */
.root {
}

.headerLabelVertikal {
    -fx-rotate: -90;
    -fx-text-fill: black;
    -fx-padding: 5 10 5 10;
    -fx-border-width: 1;
    -fx-border-radius: 15;
    -fx-border-insets: 0;
    -fx-border-color: -style-tab-border-color-1;
    -fx-background-radius: 15;
    -fx-background-insets: 0;
      -fx-background-color: #5d5e8c,
             linear-gradient(from 0% 0% to 100% 100%, #d6d6d6 70%, white 100%),
             radial-gradient(center 80% -70%, radius 200%, #e6e6e6 35%, rgba(230,230,230,0) 40%);
}

.txtHashOk {
    -fx-border-width: 2;
    -fx-border-color: green;
}
.txtHashNotOk {
    -fx-border-width: 2;
    -fx-border-color: red;
}
.txtHash {
    -fx-border-width: 2;
    -fx-border-color: lightgray;
}
.txtHash:focused {
    -fx-border-width: 2;
    -fx-border-color: transparent;
}

.lblSize {
    -fx-font-weight: bold;
}
